body
{
	margin: 0;
	padding: 0;
	font-family: arial;	
	color: #000000;
	font-size: 12px;
    background: none repeat scroll 0 0 #ececec;	
}
p, img, h1, h2, h3, h4, h5, ol, ul, li, a
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	transition: all 0.4s ease 0s;	
}
p
{
    line-height: 18px;
} 
h2
{
    font-size: 23px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 40px;
    text-align: left;
	
}
h3
{

    font-size: 20px;
    font-weight: 400;
}
h4
{

    font-size: 18px;
    font-weight: bold;
    margin: 0 0 13px;
    text-align: center;	
}
h5
{
    font-size: 14px;
    margin: 0 0 10px;	
}
.timer_box p
{
    font-weight: bold;
    text-align: center;
}
.wrapper, .canvas960, .inline_block, .header
{
	width: 100%;
	transition: all 0.4s ease 0s;	
}
.wrapper
{
    background: url("images/wrapper_bg.png") repeat-x scroll 0 0 transparent;
    margin: 50px 0;
    min-height: 518px;
}
.canvas960
{
	max-width: 960px;
	margin: 0 auto;
}
.inline_block
{
	display: inline-block;	
}
.header
{
    background: url("images/form_top_bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #0d0d0d;
    height: 149px;
    position: relative;
    text-align: center;
}
.header img
{
    margin: 67px 0 0;
}
.timer_holder
{
    float: left;
    width: 50%;
}
.acx_csma_content_div{
width:100%;
height:auto;
}
.form_holder
{
    float: left;
    max-width: 384px;
    position: relative;
    text-align: center;
    width: 100%;
}
.timer_holder
{
    margin: 0 0 0 50px;
    max-width: 525px;
    width: 100%;
}
.form
{
    background: none repeat scroll 0 0 #000;
    padding: 40px 10% 71px;
	height:240px;
}
.form_footer
{
    background: url("images/form_bottom_bg.png") repeat-x scroll 0 0 transparent;
    height: 19px;	
}
input
{
    border: 0 none;
    color: #000000;
    margin: 0 0 16px;
    max-width: 381px;
    padding: 12px;
    width: 82%;
	text-align: center;
}
form
{
    background: none repeat scroll 0 0 #000000;
}
.submit
{
    cursor: pointer;
    font-size: 13px;
    margin: 0;
    width:auto;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.scmi
{
    height: 39px;
    margin: 0 0 41px;
}
.scmi p
{
    text-transform: uppercase;
}
.scmi ul
{
    padding: 11px 0 0;
    text-align: right;
}
.scmi ul li
{
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
}
.scmi ul li a img:hover
{
	margin-top: -16px;
}
.timer_box
{
    float: left;
    margin-right: 20px;
	transition: all 0.4s ease 0s;		
}
.timer_box ul
{
    display: inline-block;
    margin: 0 0 10px;	
}
.timer_box ul li
{
    background: none repeat scroll 0 0 #ffffff;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin: 0 4px 0 0;
    padding: 8px 18px;	
}
.days
{
    margin: -3px 0 0 -18px;
    max-width: none;
    width: 100%;	
}
.days ul li
{
    background: none;
    font-size: 70px;
    margin: 0;	
}
.last_one, .days ul
{
	margin: 0;
}
.day_text
{
    font-size: 12px !important;
    margin: 0 0 0 -10px !important;
    padding: 0 !important;	
}
.day_text {
    padding: 62px 0 0 !important;
}
.text_box
{
    background: url("images/divider.jpg") repeat-x scroll center top transparent;
    margin: 30px 0 54px;
    min-height: 98px;
    padding: 30px 0 0;
}
.text_box p
{
	text-align: left;
}
.footer
{
    height: 22px;
    text-align: right;
}
.footer p, .text_box p
{
	font-size: 12px;
}

/********************************************
media query 
********************************************/
@media screen and (max-width: 960px)
{
.form_holder, h2
 {
    max-width: none;
    text-align: center;	
}
.timer_holder 
{
	background: #fe7e01;
    margin: 0;
    max-width: none;
    padding: 5%;
    text-align: center;
    width: 90%;
}
.timer_box
{
    width: 100%;
    margin: 0 0 15px;	
}
.timer_box ul 
{
    text-align: center;
}
.timer_box ul li 
{
    display: inline-flex;
    float: none;
}
.text_box, .wrapper, .scmi
{
    margin: 0 !important;
	min-height: 0;
}
.text_box p {
    text-align: center;
}
.scmi
{
	display: none;
}
.scmi ul , .footer
{
    text-align: center;
}
.mini
{
	display: block;
}
.footer
{
    margin: 20px 0 0;	
}
}